.information {
  width: 400px;
}

.btn-primary, .btn-danger {
  border-radius: 6px;
}

.show-btn {
  text-align: center;
  margin-top: 5%;
}

.map > img {
  width: 500px;
}

.container-show {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5%;

}
