.information {
  width: 400px;
  height: 100%;
}


.map > img {
  width: 500px;
  padding-left: 10px;
}

.container-show {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  justify-content: space-between;
}

.title-show {
  padding-top: 30px;
}
