<div class="searchbar">

  <form class="flex-form">

    <input  class="round-left" type="search" placeholder="Where do you wanna go?" />
    <label for="from">From</label>
    <input type="date" name="from" />

    <label for="to">To</label>
    <input type="date" name="to" />

    <select name="category" id="category">
      <option class="round-right" value="" disabled selected>Category</option>
      <option value="1">Home</option>
      <option value="2">Landscape</option>
      <option value="3">Flat</option>
      <option value="4">Field</option>
      <option value="5">Ranch</option>
    </select>

    <input type="submit" value="Search" />

  </form>
</div>
