<!-- <div class="searchbar">
  <form class="flex-form">
    <input class="round-left" type="search" name="location" fromclass="round-left"  placeholder="What kind of location?" />
    <input type="submit" value="Search" />
  </form>
</div>


 -->

  <div class="home-input">
    <div class="home-form">
      <%= form_tag(locations_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for a location" %>
      <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>
