.card-owner {
  display: flex;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 4%;
}

h2 > a {
  color: black;
}

.card-owner > img {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.card-owner h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-owner p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
}

.booking-date {
  font-style: bold;
}

.card-owner .card-owner-infos {
  display: flex;
  justify-content: space-around;
  padding: 2% 0 0 0;
  width: 100%;
  border-right: solid 1px lightgrey;
  padding-right: 58px;
}

.fa-lightbulb {
  color: #80FC28;
}

.btn-danger {
  font-style: normal;
  margin-top: 10%;
}
