<h1>Owner dashboard</h1>

<div class="container d-flex justify-content-around">
	<div>
		<ul class="list-inline tabs-underlined">
		  <li>
		    <a href="#" class="tab-underlined active">Bookings</a>
		  </li>
		  <li>
		    <a href="#" class="tab-underlined">Requests</a>
		  </li>
		  <li>
		    <a href="#" class="tab-underlined">Favorites</a>
		  </li>
		  <li>
		    <a href="#" class="tab-underlined">Messages</a>
		  </li>
		</ul>
	</div>
</div>
